@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .invisible-fade {
    @apply invisible opacity-0 transition-all;
  }

  .visible-fade {
    @apply visible opacity-100 transition-all;
  }
}

@layer utilities {
  .thin-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .thin-scrollbar::-webkit-scrollbar-track {
    background: rgb(107 114 128 / 0.05);
    border-radius: 100vh;
  }
  .thin-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(107 114 128 / 0.4);
    border-radius: 100vh;
  }
  .thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(107 114 128 / 0.6);
  }

  .progress-bar {
    background-color: rgb(156 163 175 / 0.3);
    border-radius: 9999px;
  }
  .progress-bar::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 9999px;
  }
  .progress-bar-gray::-webkit-progress-value {
    /* background: linear-gradient(90deg, rgb(249 115 22 / 0.6) 5%, rgba(239, 68, 68, 0.6) 35%, rgba(99, 102, 241, 0.6) 65%, rgb(59 130 246 / 0.6) 95%); */
    background-color: rgb(156 163 175 / 0.6);
    border-radius: 9999px;
  }
  .progress-bar-gray::-moz-progress-bar {
    background-color: rgb(156 163 175 / 0.6);
    border-radius: 9999px;
  }
  .progress-bar-orange::-webkit-progress-value {
    background-color: rgb(249 115 22 / 0.6);
    border-radius: 9999px;
  }
  .progress-bar-orange::-moz-progress-bar {
    background-color: rgb(249 115 22 / 0.6);
    border-radius: 9999px;
  }
  .progress-bar-blue::-webkit-progress-value {
    background-color: rgb(59 130 246 / 0.6);
    border-radius: 9999px;
  }
  .progress-bar::-moz-progress-bar {
    background-color: rgb(59 130 246 / 0.6);
    border-radius: 9999px;
  }

  .win-rate-bar {
    background-color: rgb(59 130 246 / 0.65);
    border-radius: 9999px;
  }
  .win-rate-bar::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 9999px;
  }
  .win-rate-bar::-webkit-progress-value {
    background-color: rgb(249 115 22 / 0.8);
    border-radius: 9999px;
  }
  .win-rate-bar::-moz-progress-bar {
    background-color: rgb(249 115 22 / 0.8);
    border-radius: 9999px;
  }
}
