@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .invisible-fade {
    @apply invisible opacity-0 transition-all;
  }

  .visible-fade {
    @apply visible opacity-100 transition-all;
  }
}

@layer utilities {
  .thin-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .thin-scrollbar::-webkit-scrollbar-track {
    background: rgba(107, 114, 128, 0.05);
    border-radius: 100vh;
  }
  .thin-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(107, 114, 128, 0.4);
    border-radius: 100vh;
  }
  .thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(107, 114, 128, 0.6);
  }

  .text-border {
    text-shadow:
      -1px -1px 0.5px rgba(0, 0, 0, 0.15),
      1px -1px 0.5px rgba(0, 0, 0, 0.15),
      -1px 1px 1px rgba(0, 0, 0, 0.5),
      1px 1px 1px rgba(0, 0, 0, 0.5);
  }
}
