@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .invisibleFade {
    @apply invisible opacity-0 transition-all;
  }

  .visibleFade {
    @apply visible opacity-100 transition-all;
  }
}

@layer utilities {
  .thin-scrollbar::-webkit-thin-scrollbar {
    width: 3px;
    height: 3px;
  }

  .thin-scrollbar::-webkit-thin-scrollbar-track {
    border-radius: 100vh;
    background: rgb(107 114 128 / 0.05);
  }

  .thin-scrollbar::-webkit-thin-scrollbar-thumb {
    background: rgb(107 114 128 / 0.4);
    border-radius: 100vh;
  }

  .thin-scrollbar::-webkit-thin-scrollbar-thumb:hover {
    background: rgb(107 114 128 / 0.6);
  }

  .progress-bar {
    border-radius: 9999px;
  }

  .progress-bar::-webkit-progress-bar {
    background-color: rgb(156 163 175 / 0.3);
    border-radius: 9999px;
  }

  .progress-bar::-webkit-progress-value {
    background-color: rgb(156 163 175 / 0.8);
    border-radius: 9999px;
  }

  .progress-bar::-moz-progress-bar {
    background-color: rgb(156 163 175 / 0.3);
    border-radius: 9999px;
  }
}
