@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .invisible-fade {
    @apply invisible opacity-0 transition-all;
  }

  .visible-fade {
    @apply visible opacity-100 transition-all;
  }
}

@layer utilities {
  .thin-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .thin-scrollbar::-webkit-scrollbar-track {
    background: rgb(107 114 128 / 0.05);
    border-radius: 100vh;
  }
  .thin-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(107 114 128 / 0.4);
    border-radius: 100vh;
  }
  .thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(107 114 128 / 0.6);
  }

  .win-rate-bar {
    background-color: rgb(59 130 246 / 0.65);
  }
  .win-rate-bar::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 0);
  }
  .win-rate-bar::-webkit-progress-value {
    background-color: rgb(249 115 22 / 0.8);
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
  }
  .win-rate-bar::-moz-progress-bar {
    background-color: rgb(249 115 22 / 0.8);
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
  }
}
